@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	background: #f4f4f4;
	font-family: 'Montserrat', sans-serif;
	color: #333;
	line-height: 1.6;
}

.container {
	max-width: 660px;
	margin: auto;
	overflow: auto;
	padding: 0 2rem;
}

h2 {
	color: #777;
	margin-top: 1.4rem;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	font-size: 1.2rem;
	margin: 1rem 0 .4rem;
}

.message {
	text-align: center;
	padding: 0.4rem;
	border: 2px dotted #ccc;
	margin-top: 2rem;
}

.form-group {
	margin: 1rem 0;
}

input[type='text'],
input[type='email'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.1rem;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

input[type='text']:focus,
input[type='email']:focus,
select:focus,
textarea:focus {
	outline: 2px solid #ccc;
}

textarea {
	resize: none;
}

.btn {
	display: block;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}

.btn:hover,
a:hover {
	color: #FFD700;
}

/* Rating styles*/

.hide {
	display: none;
}
  
.clear {
	float: none;
	clear: both;
}
  
.rating {
	width: 100%;
	max-width: 180px;
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
  
.rating > label {
	float: right;
	display: inline;
	padding: 0;
	margin: 0;
	position: relative;
	width: 1.1em;
	cursor: pointer;
	color: #333;
	font-size: 2rem;
}
  
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
	color: transparent;
}
  
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: #FFD700;
	font-size: 2rem;
}
  